@import "_variables";
.bird-parent {
  width: 60rem;
  height: 40rem;
  background-color: red;
}
.bird-gallery {
  margin: 3rem;
  position: relative;
}
.birds {
  position: absolute;
  height: 20rem;
  box-shadow: 0 1.5rem 1 rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  outline-offset: 1rem; /*to create space for outline*/
}
.birds-tern {
  top: 10rem;
  left: 15%;
}
.birds-seagulls {
  height: 20rem;
  top: -2rem; /*btw these numbers are small bc .bird's size is small enough so its easy to overlap*/
  left: 0;
}
.birds:hover {
  transform: scale(1.3);
  box-shadow: 0 3rem 1 rem rgba(0, 0, 0, 0.4);
  outline: 1rem solid color(blue);
  z-index: 2;
}
//to select something thats not being hovered: :not pseudo class//
.bird-gallery:hover .bird:not(:hover) {
  transform: scale(0.8);
  opacity: 0.3;
}
