@import "_variables.scss";
.text-effect {
  background-image: url("../media/headphones.jpg");
  color: transparent;
  font-size: 8rem;
  background-clip: text; /* add prefix -webkit- in css*/
  transition: all 0.3s;
}
.text-effect:hover {
  transform: skewY(-10deg);
  letter-spacing: 3rem;
}
