.images {
  width: 15vw;
}
.button {
  background-color: #777;
  color: $primary-color;
  padding: 10px 15px;
  border: none;
}
.button:hover {
  background-color: #444;
  color: $primary-color;
  padding: 10px 15px;
  border: none;
}
body {
  font-family: "Playfair Display", serif;
}
