@import "_variables.scss";
@import "_btn.scss";
@import "_seagull.scss";
@import "_beak.scss";
@import "_tern.scss";
$primary-color: rgb(0, 116, 161);
body {
  margin: 0;
}
.header {
  background-size: cover;
  text-align: center;
  min-height: 20vh;
  line-height: 20vh;
  font-size: 12vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: #c41274;
  background-color: rgb(193, 227, 225);
  transition: all 3s;
}
.header:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em); /*from codepen*/
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}

.box {
  width: 30vw;
  color: $primary-color;
  text-align: center;
  padding: 5vh;
  margin: 5vh;
  background-color: rgb(213, 193, 227);
}
.heading-main {
  font-size: 3rem;
}
.heading-sub {
  font-size: 1rem;
}
.images {
  width: 15vw;
}
