.images {
  width: 15vw;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

/*.btn {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #777;
  color: $primary-color;
  padding: 10px 15px;
  border: 1rem;
}
.btn:hover {
  background-color: #444;
  color: $primary-color;
  padding: 10px 15px;
  border: none;
}
*/
.images {
  width: 15vw;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #00b0ff;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /*for transitions like transform so they dont look wack*/
  position: relative;
}

.btn-blue {
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
  /*x y thickness color*/
  color: gray;
}

.btn-blue::after {
  background-color: #000;
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  /* its mirroring the parent, btn*/
  border-radius: 10rem;
  position: absolute;
  /*so it stays in the same og position as parent; needs a relative to work btw*/
  top: 0;
  left: 0;
  z-index: -1;
  /*layers i think*/
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
  /*then it disappears*/
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/*want more buttons? codepen*/
.images {
  width: 15vw;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.seagull:hover {
  -webkit-animation: circle 1.5s ease-in forwards;
}

.seagull {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.images {
  width: 15vw;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.beak:hover {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 3rem 1 rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 3rem 1 rem rgba(0, 0, 0, 0.4);
}

.beak {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.images {
  width: 15vw;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.tern {
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
}

.tern:hover {
  -webkit-filter: sepia(90%);
          filter: sepia(90%);
  -webkit-transform: scalex(0.9) scale(0.9);
          transform: scalex(0.9) scale(0.9);
}

body {
  margin: 0;
}

.header {
  background-size: cover;
  text-align: center;
  min-height: 20vh;
  line-height: 20vh;
  font-size: 12vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: #c41274;
  background-color: #c1e3e1;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.header:hover {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  /*from codepen*/
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80vh;
}

.box {
  width: 30vw;
  color: #0074a1;
  text-align: center;
  padding: 5vh;
  margin: 5vh;
  background-color: #d5c1e3;
}

.heading-main {
  font-size: 3rem;
}

.heading-sub {
  font-size: 1rem;
}

.images {
  width: 15vw;
}
/*# sourceMappingURL=style.css.map */